<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sistema CONTAINER</title>

    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/keycloak-js@21.0.0/dist/keycloak.min.js"></script>

    <meta name="importmap-type" content="systemjs-importmap" />

    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
        }
      }
    </script>
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
    />

    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@containerApp/web-ap-container": "//localhost:9099/containerApp-web-ap-container.js",
          "@containerApp/ropabajo-header": "//localhost:9098/main.js",
          "@containerApp/bulk-load": "//localhost:9097/main.js"
        }
      }
    </script>
    <% } else { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@containerApp/web-ap-container": "//apps2desa.mineco.gob.pe/container/containerApp-web-ap-container.js",
          "@containerApp/ropabajo-header": "//apps2desa.mineco.gob.pe/ropabajoheader/main.js"
          "@containerApp/ropabajobulkload": "//apps2desa.mineco.gob.pe/bulk-load/main.js"
        }
      }
    </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
    <script type="text/javascript">
      const uriServer = "http://localhost:9000/ropabajocontainer/";

      const userNSRTM = "USER-NSRTM";
      const tknNSRTM = "TKN-NSRTM";
      const MENU_SELECTED = "MENU_ROL_SELECTED";
      const agenciaNSRTM = "AGENCIA-NSRTM";
      const ipLocalNSRTM = "IPLOCAL-NSRTM";
      const muniNSRTM = "MUNI-NSRTM";

      const keycloak = new Keycloak({
        url: "https://localhost:8443/",
        realm: "ropabajo",
        clientId: "containerId",
      });

      function initKeycloak() {
        keycloak
          .init({
            onLoad: "login-required",
            checkLoginIframe: false,
            checkLoginIframeInterval: 25,
          })
          .then((authenticated) => {
            console.log(authenticated ? "Autenticado" : "No autenticado");
            System.import("@containerApp/web-ap-container");
          });
      }

      function _initKeycloak() {
        System.import("@containerApp/web-ap-container");
      }

      function logoutKey() {
        var logoutOptions = { redirectUri: uriServer };
        localStorage.removeItem(userNSRTM);
        localStorage.removeItem(tknNSRTM);
        localStorage.removeItem(MENU_SELECTED);
        localStorage.removeItem(agenciaNSRTM);
        localStorage.removeItem(muniNSRTM);
        localStorage.removeItem(ipLocalNSRTM);

        keycloak.logout(logoutOptions);
      }

      function toggleSlide() {
        const div = document.getElementById("ariaDropdownUser");

        if (div.classList.contains("show")) {
          div.classList.remove("show");
        } else {
          div.classList.add("show");
        }
      }

      function toggleMenu(esCerrar = false) {
        console.log("toggleMenu");
        const div = document.getElementById("ropabajoApp-content_sidebar");
        if (esCerrar) {
          div.classList.add("d-none");
        } else {
          div.classList.remove("d-none");
        }
      }

      function onTokenExpired() {
        keycloak.onTokenExpired = async () => {
          try {
            const refreshed = await keycloak.updateToken(15);
            if (refreshed) {
              localStorage.setItem(tknNSRTM, JSON.stringify(keycloak.token));
              console.log(keycloak.token);
            } else {
              console.log("Refreshing token error");
            }
          } catch (error) {
            console.log("error", error);
          }
        };
      }

      onTokenExpired();
      initKeycloak();
    </script>
  </head>

  <body>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
